<div class="container">
  <div class="eleven columns">
    <div class="padding-right">
      <ul class="job-list full">
        <li><a href="{{ .Permalink }}">
          <img class="img-fluid lozad small" data-src="{{ .Params.Image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .Params.image | absURL }}'">
          <div class="job-list-content">
            <h4>{{ .Title }}</h4>
            <span>{{ .Params.Contract }}</span>
            <div class="job-icons">
              <span><i class="fas fa-briefcase"></i> {{dateFormat "Monday, Jan 2, 2006" .Params.Start }}</span>
              <span><i class="fas fa-map-marker"></i> {{ .Params.Location }}</span>
            </div>
            <p>{{ .Description }}</p>
          </div>
          </a>
          <div class="clearfix"></div>
        </li>
      </ul>
    </div>
  </div>
</div>
