{{ "<!-- Roadmap Modals -->" | safeHTML }}
{{ range $.Site.Data.roadmap }}
{{/*  {{ printf "%#v" . }}  */}}
<div class="roadmap-modal modal" id="roadmapModal{{ .modalID }}" tabindex="-1" role="dialog" aria-labelledby="roadmap-modal" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        {{ with .title }}
                            <h2>{{ . }}</h2>
                        {{ end }}
                        {{ if and .title .description }}
                            <hr class="star-primary">
                        {{ end }}
                        {{ with .description }}
                            <p>{{ . | markdownify }}</p>
                        {{ end }}
                        {{ range .initiatives }}
                        {{ if .enable }}
                        {{ if or .initiative .status .description }}
                        <ul class="list-inline item-details">
                            {{ if .initiative }}
                                <li>{{ with $.Site.Params.roadmap.modal.initiative }}{{.}}: {{ end }}
                                    <strong><a href="{{ with .initiativeLink }}{{ . }}{{ else }}#{{ end }}">{{ .initiative }}</a></strong>
                                </li>
                            {{ end }}
                            {{ if .status }}
                                <li>{{ with $.Site.Params.roadmap.modal.status }}{{.}}: {{ end }}
                                    <strong><a href="#">{{ .status }}</a></strong>
                                </li>
                            {{ end }}
                            {{ if .subtitle }}
                                <li>{{ with $.Site.Params.roadmap.modal.subtitle }}{{.}}: {{ end }}
                                    <strong><a href="#">{{ .subtitle }}</a></strong>
                                </li>
                            {{ end }}
                        </ul>
                        {{ end }}
                        {{ end }}
                        {{ end }}
                        {{/*  {{ if or .client .date .category }}
                            <ul class="list-inline item-details">
                                {{ if .client }}
                                    <li>{{ with $.Site.Params.roadmap.modal.client }}{{.}}: {{ end }}
                                        <strong><a href="{{ with .clientLink }}{{ . }}{{ else }}#{{ end }}">{{ .client }}</a></strong>
                                    </li>
                                {{ end }}
                                {{ if .date }}
                                    <li>{{ with $.Site.Params.roadmap.modal.date }}{{.}}: {{ end }}
                                        <strong><a href="#">{{ .date }}</a></strong>
                                    </li>
                                {{ end }}
                                {{ if .category }}
                                    <li>{{ with $.Site.Params.roadmap.modal.category }}{{.}}: {{ end }}
                                        <strong><a href="#">{{ .category }}</a></strong>
                                    </li>
                                {{ end }}
                            </ul>
                        {{ end }}  */}}
                        {{/*  {{ with $.Site.Params.roadmap.modal.buttonText }}
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>{{.}}</button>
                        {{ end }}  */}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-5">
                    <img src="images/roadmap/{{ .img }}" class="absolute opacity-50 group-hover:opacity-100 duration-300 transform w-104 right-4 bottom-4" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ "<!-- Roadmap Modals -->" | safeHTML }}


{{/*  {{ "<!-- Roadmap Modals -->" | safeHTML }}
{{ range .Pages }}
{{ printf "%#v" . }}
<div class="roadmap-modal modal fade" id="roadmapModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        {{ with .title }}
                            <h2>{{ . }}</h2>
                        {{ end }}
                        {{ if and .title .description }}
                            <hr class="star-primary">
                        {{ end }}
                        <img src="img/roadmap/{{ .img }}" class="img-responsive img-centered" alt="">
                        {{ with .description }}
                            <p>{{ . | markdownify }}</p>
                        {{ end }}
                        {{ if or .client .date .category }}
                            <ul class="list-inline item-details">
                                {{ if .client }}
                                    <li>{{ with $.Site.Params.portfolio.modal.client }}{{.}}: {{ end }}
                                        <strong><a href="{{ with .clientLink }}{{ . }}{{ else }}#{{ end }}">{{ .client }}</a></strong>
                                    </li>
                                {{ end }}
                                {{ if .date }}
                                    <li>{{ with $.Site.Params.portfolio.modal.date }}{{.}}: {{ end }}
                                        <strong><a href="#">{{ .date }}</a></strong>
                                    </li>
                                {{ end }}
                                {{ if .category }}
                                    <li>{{ with $.Site.Params.portfolio.modal.category }}{{.}}: {{ end }}
                                        <strong><a href="#">{{ .category }}</a></strong>
                                    </li>
                                {{ end }}
                            </ul>
                        {{ end }}
                        {{ with $.Site.Params.portfolio.modal.buttonText }}
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>{{.}}</button>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ "<!-- Roadmap Modals -->" | safeHTML }}  */}}
