 .padding-right { padding-right: 20px; }

.job-icons span {
	margin-bottom: 8px;
}
.job-list .job-list-content {
	display: block;
	margin-left: 125px;
	position: relative;
}
.job-list .job-list-content,
.job-list img {
	padding: 35px 0;
}
.job-list img {
	float: left;
	/* display: inline-block; */
	margin-left: 2px;
	margin-top: 35px;
	width: 100px;
	height: auto;
}

.job-list .job-list-content { padding-right: 20px; }

.job-list .job-list-content h4 {
	line-height: 31px;
	margin: 0px 0 8px 0;
}

.job-list.full .job-list-content h4 { margin-bottom: 15px; }
 
.job-list.full li, .job-list-content li { list-style: none!important; }

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

	.search-container h2 { font-size: 40px; }
	.search-container input.ico-01 { width: 100%; margin: 0 0 15px 0; }
	.search-container input.ico-02 { width: 100%; margin: 0 0 15px 0; }
	.search-container button  { width: 100%; }
	input.ico-01 { background-position: 95% 20px; }
	input.ico-02 { background-position: 94% 20px; }
	.search-container { padding: 100px 0; }

	#popular-categories li a { width: 100%; }

	.resumes-list img, .job-list img {
	    margin-left: 30px;
	    width: 50px;
	    height: 50px;
	}

	.resume-titlebar .resumes-list-content,
	.resumes-list .resumes-list-content,
	.job-list .job-list-content {
		margin-left: 105px;
	}

	.testimonials-slider li p { padding: 70px 20px; }
	.flex-control-nav { bottom: 30px; }

	.infobox { font-size: 30px; padding: 45px 0px 65px 0; }
	.infobox a {
		width: 100%;
		display: inline-block;
		box-sizing: border-box;
		margin: 0;
		padding: 10px 15px;
		top: 15px;
	}

	#footer a.button { margin-bottom: 30px;}

	#counters { padding: 25px 0 22px 0; }

	.counter-box {
		border-right: 0;
		border-bottom: 1px solid #444;
		padding: 30px 0;
	}

	.counter-box p { margin: 7px 0 0 0; }

	.counter-box i,
	.counter {
		font-size: 48px;
		line-height: 36px;
	}

	#counters .container:before {
		width: 100%;
		height: 1px;
		bottom: 0;
		left: 0px;
	}

	.info-banner a.button { margin-top: 20px; float: left; }

	.caption h2 { font-size: 22px; }
	.caption p {
	    display: none;
	}

	#titlebar .button {
	    right: 0;
	    position: relative;
		 margin-top: 20px;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		transform: none;
	}

	#titlebar.photo-bg { padding: 55px 0; }

	.resume-titlebar img {
		width: 90px;
		height: 90px;
	}

	.resume-titlebar .resumes-list-content { margin-left: 120px; }

	#titlebar .two-buttons .button {
	    right: 0;
	    position: relative;
	    top: 0;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		transform: none;
		margin-top: 0px !important;
	}

	#titlebar .two-buttons {
		margin-top: 20px;
	}
		
	.pagination { text-align: left; }
	.pagination-next-prev ul li a.prev { display: none; }
	.pagination ul li a, .pagination-next-prev ul li a { text-align: center; }

	.categories-group h4 { margin-bottom: 30px; }

	.app-content .buttons {
	    left: 0;
	    display: inline-block;
	    top: 0;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		transform: none;
	    position: relative;
	    margin-top: 35px;
	}

	.app-footer ul {
	    float: left;
	    margin-top: 7px;
	}

	.app-footer ul li {
	    margin-right: 15px;
	    margin-left: 0;
	}

	.app-tabs .app-tab-content .select-grid:first-child {  margin-right: 0; }
	.app-tabs .app-tab-content .select-grid { width: 100% !important; }
	.app-tabs .app-tab-content .select-grid input { margin: 15px 0 0 0;}

	.download-csv {
		float: left;
		margin: -5px 0 20px 0;
	}

	#contact fieldset div input,
	.add-comment input {  width: 100%; }

	.my-account { width: 100%; }

	.alternative #navigation {
		border-top: none;
		margin: 0;
		padding: 0;
	}

	.alternative #navigation ul,
	.alternative .menu ul li { margin: 0}
	.alternative #navigation ul.float-right { top: 0 }

	ul.float-right li a:hover,
	ul.float-right li a { 
		background-color: #fff;
		color: #333;
	}

	#titlebar.single.submit-page h2, .submit-page { padding: 0; }

}